&control
         calculation = 'scf'
              prefix = 'pw'
           verbosity = 'high'
          wf_collect = .true.
          pseudo_dir = '.'
/&end
&system
           celldm(1) = 4.7240779804
           celldm(3) = 2.55319148936
             ecutwfc = 35
               ibrav = 4
                 nat = 2
                ntyp = 2
               nosym = .true.
/&end
&electrons
            conv_thr = 1e-08
/&end
&ions
        ion_dynamics = 'bfgs'
/&end
&cell
         cell_dofree = '2Dxy'
       cell_dynamics = 'bfgs'
/&end
ATOMIC_SPECIES
   B   10.811     B_r.upf
   N   10.811     N_r.upf
ATOMIC_POSITIONS { crystal }
  B   0.0000000000   0.0000000000   0.5000000000
  N   0.3333333333   0.6666666667   0.5000000000
K_POINTS { automatic }
 6 6  1  0  0  0
